#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, MS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    timeout-ms = <MS>; \
    require-prior-idle-ms = <150>; \
  };

#define COMBO_TERM_FAST 14
#define COMBO_TERM_NORMAL 20
#define COMBO_TERM_SLOW 30

combos {
  compatible = "zmk,combos";

  COMBO(tab, &kp TAB, 1 2, BASE, COMBO_TERM_NORMAL)
  COMBO(esc, &kp ESC, 10 11, BASE, COMBO_TERM_NORMAL)
  COMBO(lbkt, &kp LBKT, 6 7, BASE, COMBO_TERM_NORMAL)
  COMBO(rbkt, &kp RBKT, 7 8, BASE, COMBO_TERM_NORMAL)
  COMBO(lpar, &kp LPAR, 16 17, BASE, COMBO_TERM_NORMAL)
  COMBO(rpar, &kp RPAR, 17 18, BASE, COMBO_TERM_NORMAL)
  COMBO(backspace, &kp BACKSPACE, 26 27, BASE, COMBO_TERM_NORMAL)
  COMBO(delelete, &kp DELETE, 27 28, BASE, COMBO_TERM_NORMAL)

  COMBO(leftclick, &mkp LCLK, 21 22, BASE, COMBO_TERM_SLOW)
}; 
